* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


/* ESTILOS PARA A PARTE DA NAVBAR */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.navbar-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    font-size: 28px;
}



/* ESTILOS PARA A PARTE DO TEXTO ABAIXO DA NAVBAR */
.hero {
    background-color: #f0f0f0;
    text-align: center;
    padding: 80px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}




/* ESTILOS PARA A PARTE DO TEXTO INFORMATIVO */
.text-container {
    max-width: 800px;
    margin: 0 auto; /* Centralizar horizontalmente */
    padding: 20px;
    border: 3px solid #333;
    border-radius: 10px;
}


.text-container p {
    font-size: 18px;
    line-height: 1.5;
}






/* ESTILOS PARA O VIDEO */
.video-section {
    text-align: center;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Proporção de 16:9 (altura / largura) */
    overflow: hidden;
    max-width: 90%;
    margin: 0 auto;
    border: 4px solid #333; /* Adiciona borda quadrada e define a cor */
    border-radius: 8px; /* Adiciona borda arredondada */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    margin-bottom: 20px; /* Espaçamento inferior */
}


.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/* ESTILOS PARA A PARTE DO LINK */
.image-section {
    max-width: 800px;
    margin: 0 auto; /* Centralizar horizontalmente */
    text-align: center;
    padding: 20px; /* Espaçamento interno */
    border: 3px solid #333; /* Moldura */
    border-radius: 10px; /* Borda arredondada */
    margin-top: 20px; /* Espaçamento superior */
}

.image-container {
    display: inline-block;
}

.image-container p {
    margin-top: 10px; /* Espaçamento superior entre a imagem e o texto */
}




/* ESTILO PARA AS INSTRUÇÕES */
.instructions-section {
    max-width: 800px;
    margin: 0 auto; /* Centralizar horizontalmente */
    text-align: center;
    padding: 20px;
    border: 3px solid #333;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.instructions-container {
    max-width: 600px;
    margin: 0 auto;
}

.instructions-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.instructions-container p {
    font-size: 18px;
}


/* ESTILO PARA O DONATE */
.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #333;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info-text {
    text-align: center;
    margin-bottom: 20px; /* Espaçamento inferior */
}

.info-image img {
    max-width: 100%;
    height: auto;
    border: 4px solid #333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
